<div>
<h1>Welcome to the Babysitting App</h1>

<h2><%= link_to "Login", signin_path%></h2>
<h2><%= link_to "Parent Sign Up", new_parent_path %></h2>
<h2><%= link_to "Babysitter Sign Up", new_babysitter_path %><h2>
<h2><%= link_to "Admin Sign Up", new_admin_path %></h2>

</div>